<.header>
  Nova Despesa
  <:subtitle>Crie uma nova despesa.</:subtitle>
</.header>

<.despesas_form changeset={@changeset} action={~p"/despesas"} />

<.back navigate={~p"/despesas"}>Back to despesas</.back>
