<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:title]} type="text" label="Despesa" />
  <.input field={f[:valor]} type="number" label="Valor" />
  <:actions>
    <.button>Save Post</.button>
  </:actions>
</.simple_form>
