<.header>
  Edit Receitas <%= @receitas.id %>
  <:subtitle>Use this form to manage receitas records in your database.</:subtitle>
</.header>

<.receitas_form changeset={@changeset} action={~p"/receitas/#{@receitas}"} />

<.back navigate={~p"/receitas"}>Back to receitas</.back>
